<div class="ascii-portrait" aria-label="ASCII portrait of Gottlob Frege" role="img">
<pre>
*==+=-+++**+-+**-+=+=+==*+=-+-+==****+%###+*=#++**#*+*+*+=+#
++*+=++*-*#*+-==**+=*=-=:+=+*++++#***#=++**+*#+#*===++*++++.
*=-=++==+##=+**++=-====:.:-=+#**=*=*##*++#****#*#=+==++*=+=*
*+==--==+++#-++===-==:+=*@%@@@@@@@@*%%**#+#**+#%*#****==+=--
.+::-=+=++++*=+:=-=:-+@@@@@@@@@@@@@@@@@#*##**#*#**#=*#****++
+.:-+=++-+=++==+=--@@@@@@@@@@@@@@@@@@@@@@*#***=+**##**=*+=+.
##::=.=++*=+=*=:+.@@@@@@@@@@@@@@@@@@@@@@@@%+***+#***+=++++--
====++=-**++**:=+@@@@@@@@@@@@@@@@@@@@@@@@@@@%##+#***#**+---=
*-====++-++++--=@@@@@@@@@@@@@@@@@@@@@@@@@@@@%##***#%*+#**#++
::=.=-*++++++--=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%######+*****+-
==--=+*====-*+:=@@@@@@@@@@@@@@@@@@@@@@@@@@@@#%##%#*#**=%+-==
=+:+=+*=+=-:::=@@@@@@@@@@@@@@@@@#++@@@@#@==**%##%#*#*+=-=--=
-:*+#*+*=++===@-@@@@@@@@@@@@@% +=%#@@@+:  .: ###*##+#*++-=++
==***+**+#*+-=@@@@@@@@@@@@@@@@@@@@@@@@@-: .*:%###+#*+*++====
+-=*=-+++##*+=%@@@@@@@@@@@@@@@@@@@@@@@@#+*:*###*#%%##=**=-+:
=:=++***#*++++=@@@@@@@@@@@@@@@@@@@@@@@@#@@%%##*##%#+#***+==+
+#=*+*+++-++++=@@@@@@@@@@@@@@@@@@@@@@@@#%@@%%@#*##**####**+=
+=++*+-+++=-*==.%@%@@@@@@@@@@@@@@@= =@+-=##+@%%###*=%+******
#==++++=**#*++=+:@@@@@@@@@@@@@@@@@@@*.:=-*=+@%@%####**#%*#*#
***+**-=#*++=.==.@@@@@@@@@@@@@@@@@@- =  =.:@@%@@%%#@%#*###*#
##++=*+##++==--#@@@@@@@@@@@@@@#+* +=.    =*@@@@@@%@%#%*%%#+*
+*%##*+*+-++==%%@@@@@@@@@@@@@@@@@@%@@-- :=@@@@@@@@@@@@%#%#+%
%#%#**++++=:-@#%*=*@@@@@@@@@@@@@@@@@#@@=#@@@@@@@@@@@@%%%@%*@
*%#*+++#=-*#@@%%%#@=.@@@@@@@@@@@@@@@** #@@@@@@@@@@@@@@@@@###
%%*#*+==%@%%@@@*@@%==+--@@@*@@@@@@@@@%=@@@@@@@@@@@@@@@@@@@%%
%#%%=*@@#@*%#*+%%#%#==+  @@@@:*%@@@#@@@@@@@@@@@@@@@@@@@@@@%@
#*#@@+@%@#@:%#=+ *%**.-=.:-@@@@@@%   : @@@@@@@@@@@@@@@@@@%@@
%@@%#*@%%*#=++ **  =#::=  :-  @@@@@@*@: -@@@@@@@@@@@@@@@@@@@
@@@@@%*@#%=*.*=:++=::=-:     *=  @@@       @@@@@@@@@@@@@@@@@
%*+#*+*+-%*:=--.  :=-=:-   :  :-.  .         @@@@@@@@@@@@@%@
@#@@=*:+%:+=::-    .+==#   :-::-== .          *@@@@@@@@@@@@@
@@@%+*= .-+-+=:*+  +.++*-=-    -.. =.#  .      =@@@@@@@@@@@@
**#*++:   .=:::.=-  .#*=%+:+.    :.+.: #--       @@@@@@@@@@@
+*+*-.:.   .=- . -  ..-**=#%----  . . ::          +@@@@@@@@%
*+*=-*==    = .:-:-   =-==#:.:# .    ::            :@@@@@@@@
=-++:.-.      : :-     ::=.**:+-  +-.. .=- :         @@@@@@@
+-+:=:        -:    +.    #*+-=%- .  -.:.            :@@@@@@
++**+:.        .  . -=   .--++#=* -    ..: .=     :   .@@@@@
=--:+.               :.   :=++.=.:.        :-:    .    .@@@@
*===-            .-   -   .:.*=-::.:. .     ::+         .@@@
--:=   ...       .:   : = .+=--= .---.   .  -  --        +@@
-                :    .      .=-: . .. =::       =::      -@
      :..-            .-     :--    ...  :    :  ::+       =
  -:  :.=             :.    .::                       :.   :
</pre>
</div>

<style>
.ascii-portrait pre {
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  font-size: 7px;
  letter-spacing: 0;
  white-space: pre;
  display: inline-block;
  margin: 0;
  color: #222;
  background: transparent;
}
</style>
